<h2 class="sidebar-title">Популярные торты</h2>
<div class="grid">
    {% for post in posts%}
    <div class="portfolio-item popular">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
        {% else %}
        <img src="https://placebear.com/300/201" alt="{{ post.title }}">
        {% endif %}

        <div class="portfolio-text">
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>